<div id='calendar' style="margin-top: 60px"></div>
    <a href="#" data-target="#new-meeting" class="btn btn-mature" data-toggle="modal">New meeting</a>


<%= render :partial => "calendar/new_event_modal" %>
