<% permitted_to? :index, :transactions do %>
    <% if controller_name == "inventories" || controller_name == "inventory_additions" %>
        <li class="active">
            <%= link_to "Inventory", :inventories %>
        </li>
    <% else %>
        <li>
            <%= link_to "Inventory", :inventories %>
            </li>
    <% end%>
<% end%>

