<% if controller_name == "team_leaders" && action_name == "target_forecast" %>
    <li class="active">
    <a href="#" data-toggle="dropdown" class='dropdown-toggle active'>
        <span>Performance</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target forecast", :target_forecast %>
        </li>
    </ul>
    </li>
<% elsif %>
    <li>
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Performance</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target forecast", :target_forecast %>
        </li>
    </ul>
    </li>
<% end %>


