<div id="navigation">
    <div class="container-fluid">
        <%= link_to "CRM", :root, {:id => "brand"} %>
        <ul class='main-nav'>
            <%= render :partial => "shared/user_common" %>
            <%= render :partial => "shared/superuser_menu" %>
        </ul>
            <%= render :partial => "shared/user_menu" %>
    </div>
</div>
