<div class="user">
    <ul class="icon-nav">
        <li class="dropdown sett">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
        <ul class="dropdown-menu pull-right">
            <li>
            <div class="version-toggle">
                <a href="#" class='set-fixed'>Fixed</a>
                <a href="#" class='set-fixed'>Fixed asdf</a>
            </div>
            <div class="version-toggle">
                <a href="#" class='set-fixed'>Fixed</a>
                <a href="#" class='set-fixed'>Fixed</a>
            </div>
            </li>
        </ul>
        </li>
    </ul>
    <div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><%= "#{current_user.first_name} #{current_user.last_name}" %><%= image_tag "#{current_user.avatar}" %></a>
        <ul class="dropdown-menu pull-right">
            <li>
            <% permitted_to? :index, :products do %>
                <%= link_to "Products", :products %>
            <% end %>
            </li>
            <li>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
    </div>
</div>
