<%= stylesheet_link_tag "magicsuggest-1.2.7" %>
<%= javascript_include_tag "magicsuggest-1.2.7" %>
<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
